flows/JBSystemFlow_Lead-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_FireJBTrigger</name>
        <label>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7225542</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Full_Name__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;X18_Digit_Lead_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</name>
        <label>JB_Decision_Null_Check_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_Decision</name>
        <label>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  And  ( (5 AND 6)  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.X18_Digit_Lead_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kjquinlan@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quinlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Nature_s_Match_How_many_pigs_do_you_have__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>More than 20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_Reviewer__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kjquinlan@landolakes.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_Reviewer__r.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kevin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_State_change_Decision</name>
        <label>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.X18_Digit_Lead_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kjquinlan@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quinlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Nature_s_Match_How_many_pigs_do_you_have__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>More than 20</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5701e6ea9e21fd2b67a4959f42038b7d</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
